# Node.js dependencies
node_modules/

# Environment variables
.env

# Next.js build output
.next/

# Logs
logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo