@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: #000000;
  background: #ffffff;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Base text styles */
@layer base {
  html {
    @apply text-black bg-white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black;
  }
  p {
    @apply text-black;
  }
}

/* Transition effects */
.transition-colors {
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
